<div class="container">
  <h1>All Flats (<%=@flats.length%>)</h1>
    <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- <div class="cards"> -->
          <div class="card">
              <div class="card-img" style="background-image: url(https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200);">
              </div>

              <div class="card-body">
                  <h4><%=flat.name%></h4>
                  <p><%=flat.address%></p>
                  <p><i class="fas fa-users"></i>  <%= flat.number_of_guests %>    <%= flat.price_per_night %> EUR</p>
              </div>

              <div class="card-footer">
                <%= link_to 'More info', flat_path(flat.id) %>
              </div>

          </div>

      </div>
    <!-- </div> -->
    <% end %>
  </div>
  <h3><%= link_to 'Create a new flat', new_flat_path%></h3>
</div>





